<div id="guide_nav_wrapper" class="side_nav">
        
                <div class="nav_close"><btn>Close</btn></div>
                <div class="guide_nav" id="guide_nav">
                    <div class="guide_heading-wrapper">
                        <h3>Starting a Business Guide</h3>
                    </div>
                        <div class="guide_menu_wrapper">
                        <ul>
                            <li class="sub-menu-toggle">Prepare for business</li>   
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Preparing-yourself-for-business.html" | relative_url }}>Check if you're ready</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Difference-between-a-business-and-a-hobby.html" | relative_url }}>Business or hobby</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Employee-or-contractor.html" | relative_url }}>Employee or contractor</a><span class="optional">Optional</span></li>
                                <li><a href={{"pages-content/Help-for-your-business.html" | relative_url }}>Seek advice &amp; support</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Make key decisions</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Business-structures.html" | relative_url }}>Choose a business structure</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Choose-your-business-location.html" | relative_url }}>Decide on a location</a><span class="optional">Optional</span></li>
                                <li><a href={{"pages-content/How-to-choose-a-business-name.html" | relative_url }}>Choose a business name</a><span class="optional">Optional</span></li>
                                <li><a href={{"pages-content/Intellectual-Property-explained.html" | relative_url }}>Consider a trademark</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Plan for success</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/How-to-research-your-market.html" | relative_url }}>Research your market</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Industry-information.html" | relative_url }}>Research your industry</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/How-to-develop-your-business-plan.html" | relative_url }}>Develop a business plan</a><span class="optional">Optional</span></li>
                                <li><a href={{"pages-content/How-to-write-your-marketing-plan.html" | relative_url }}>Develop a marketing plan</a><span class="optional">Optional</span></li>
                            </ul>
                            
        
                            <li class="sub-menu-toggle">Register your business</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Register-your-business-name.html" | relative_url }}>Register a business name</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Register-for-an-Australian-business-number-ABN.html" | relative_url }} | relative_url }}>Register an ABN</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Register-a-company.html" | relative_url }}>Register a company</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Register-licences-and-permits.html" | relative_url }}>Register licences and permits</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Register-a-business-website.html" | relative_url }}>Consider a website name</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Prepare for tax</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Tax-registration-for-your-business.html" | relative_url }}>Which taxes to register</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/-Record-keeping.html" | relative_url }}>Keep the right records</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/How-to-lodge-and-pay-for-tax.html" | relative_url }}>Prepare to lodge tax</a><span class="required">Required</span></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Know the law</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Legal-essentials-for-business.html" | relative_url }}>Which laws apply to you</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Fair-trading.html" | relative_url }}>Understand Fair trading</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/-How-to-understand-contracts.html" | relative_url }}>Understand contracts</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/-Industry-information.html" | relative_url }}>Look up industry laws</a><span class="required">Required</span></li>
                            </ul>
                            
                            
                            
                            <li class="sub-menu-toggle">Prepare your finances</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/How-to-organise-your-finances.html" | relative_url }}>Organise your finances</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Develop-a-pricing-strategy.html" | relative_url }}>Price goods or services</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Help-for-your-business.html" | relative_url }}>Find grants and assistance</a><span class="optional">Optional</span></li>
                                <li><a href={{"pages-content/Apply-for-a-business-loan.html" | relative_url }}>Apply for finance</a><span class="optional">Optional</span></li>
                                <li><a href={{"pages-content/Resources-to-help-finance-your-business.html" | relative_url }}>Find financial help</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Protect your business</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Business-insurance.html" | relative_url }}>Insure your business</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Intellectual-Property-explained.html" | relative_url }}>Protect your ideas</a><span class="optional">Optional</span></li>
                                <li><a href={{"pages-content/How-to-prepare-your-business-for-an-emergency.html" | relative_url }}>Prepare for an emergency</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            <li class="sub-menu-toggle">Set up operations</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Hiring.html">Employ people</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/-How-to-market-your-business.html" | relative_url }}>Understand marketing</a><span class="optional">Optional</span></li>
                                <li><a href={{"pages-content/Importing-and-exporting.html" | relative_url }}>Importing or exporting</a><span class="optional">Optional</span></li>
                                <li><a href={{"pages-content/Customers.html" | relative_url }}>Establish customer service</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                        </ul>
                        </div>
                    </div>
                </div>
