<div id="guide_nav_wrapper" class="side_nav">
        
                <div class="nav_close"><btn>Close</btn></div>
                <div class="guide_nav" id="guide_nav">
                    <div class="guide_heading-wrapper">
                        <h3>Starting a Business Guide</h3>
                    </div>
                        <div class="guide_menu_wrapper">
                        <ul>
                            <li class="sub-menu-toggle">Check if you&#39;re ready</li>   
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Preparing-yourself-for-business.html" | relative_url }}>Preparing yourself for business</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Difference-between-a-business-and-a-hobby.html" | relative_url }}>Difference between a business and a hobby</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Find out what you need</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Starting-a-business-Checklist.html" | relative_url }}>Starting a business checklist</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/How-to-manage-your-suppliers.html" | relative_url }}>How to manage your suppliers</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/register-your-business-the-right-way.html" | relative_url }}>Register your business the right way</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/hiring-employees.html" | relative_url }}>Hiring employees</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Get advice and support</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/find-help-and-support.html" | relative_url }}>Find help and support</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Help-for-your-business.html" | relative_url }}>Help for your business</a><span class="optional">Optional</span></li>
                            </ul>
                            
        
                            <li class="sub-menu-toggle">Contractors and contracts</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/types-of-contracts.html" | relative_url }}>Types of contracts</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Employee-or-contractor.html" | relative_url }} | relative_url }}>Employee or contractor</a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Register your business</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/register-for-an-australian-business-number-abn.html" | relative_url }}>Register for an Australian business number (ABN)</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/how-to-develop-your-business-plan.html" | relative_url }}>How to develop your business plan</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Business-structures.html" | relative_url }}>Business structures</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/taxation-for-your-business.html" | relative_url }}>Taxation for your business</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Record-keeping.html" | relative_url }}>Record keeping</a><span class="required">Required</span></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Establishing your business</li>
                            <ul class="sub-menu">
                                <li><a href={{"pages-content/Selling-manufacturing-and-sourcing-products.html" | relative_url }}>Selling, manufacturing and sourcing products</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/choose-your-business-location.html" | relative_url }}>Choose your business location</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Business-insurance.html" | relative_url }}>Business insurance</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Finance-for-your-business.html" | relative_url }}>Finance for your business</a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/How-to-recruit-and-induct-new-employees.html" | relative_url }} | relative_url }}>How to recruit and induct new employees</a><span class="optional">Optional</span></li>
                            </ul>

                        </ul>
                        </div>
                    </div>
                </div>
