/* GLOBAL */

h1, h2 {
    font-weight: 600;
}

.anchor-menu {
    .sticky-container {
    a {
        text-decoration: none;
    
        &.active-sticky {
            font-weight: 700;
            border-left: 4px solid $blue-light;
            padding-left: 16px;
        }
    }

}
}

.c-padding-bottom {
    p:last-child, 
    ol:last-child,
    ul:last-child {
        padding-bottom: 0;
    }
}

.search-bar-wrapper 
.search-bar-inner-wrapper 
.search-bar-search
.input-group-container {
    input {
        display: inline-block;
        position: absolute;
        right: 50px;
    }
    span {
        display: inline-block;
        position: absolute;
        right: 0;
        
        button {
            width: 50px;
        }
    }
}
a.breadcrumb-link
.hero-pathway-list-illustration-bg {
    display: none !important;
}
.col-lg-4, 
.col-sm-6 {
    .hero-pathway-list-illustration-image {
        display: none !important;
    }
    .hero-pathway-list-illustration-bg {
        display: none !important;
    }
    .hero-pathway-list-content-left {
        flex: initial !important;
    }
}

#navigation-bar {
    .navigation-main-menu:hover {
        background: $blue-active;
    }
    .dropdown {
        background: url("../assets/Icon-chevron-down.svg") no-repeat;
        background-position: center right 15px;
        background-size: 12px 18px;
        padding: 0px 25px 0px 0px;
        
        &:hover{
            background:  $blue-active url("../assets/Icon-chevron-up.svg") no-repeat;
            background-position: center right 15px;
            background-size: 12px 18px;
            > .dropdown-menu {
                display: block;
            } 
        }
    }
    .dropdown-toggle {
        color: $white;
        opacity: 1.0;
        text-align: left;
        cursor: default;
        
        &:after {
            display: none;
        }
    }
    .dropdown-menu {
        background: $blue-active;
        padding: 0;
        border: none !important;
        border-radius: 0px !important;
        cursor: pointer !important;
        margin-top: 0px;
        width: 300px;
        
        a {
            text-decoration: none;
            padding: 0 30px 0 5px;
            color: $white;
            
            &.dropdown-item:focus, &.dropdown-item:hover {
                background: none;
                text-decoration: underline !important;
            }
        }
        
        li {
            font-weight: 400;
            list-style-type: none;
            border-bottom: 1px solid $blue-primary-mid;
            font-size: 0.9em;
            padding: 10px;
            position: relative;
            
            &:hover {
                background: $blue-active-darkest;
            }
        }
            
    }
}


@media (min-width: 1600px) {


    .col-sm-6 {
        .hero-pathway-list-illustration-image {
            display: flex !important;
        }
        .hero-pathway-list-content-left {
            flex: 1 !important;
        }
    }


}

@media (min-width: 901px) and (max-width: 1200px) {
    .hero-pathway-list-illustration-bg,
    .hero-pathway-list-illustration-image {
        display: none !important;
    }
    .hero-pathway-list-content-left {
        flex: initial !important;
    }
    
}


@media only screen and (max-width: 900px) {
    .navigation-bar-wrapper {
        display: none;
    }
    
    .search-bar-wrapper {
        background: $blue-primary url("../assets/Icon-menu.svg") no-repeat;
        background-size: 20px 16px;
        background-position: center right 15px;
        
    }
    
    .search-bar-wrapper .search-bar-inner-wrapper .search-bar-search .input-group-container {
        input {
            display: none;
        }
        button {
            position: absolute;
            right: 0px;
            top: 10px;
        }
    }
    
    .hero-pathway-list-illustration-bg {
        display: none !important;
    }
    
    .col-sm-6 {
        .hero-pathway-list-illustration-image {
            display: none !important;
        }
        .hero-pathway-list-content-left {
            flex: initial !important;
        }

    }
    
}

@media only screen and (max-width: 618px) {
    .hero-pathway-list-illustration-bg,
    .hero-pathway-list-illustration-image {
        display: none !important;
    }
    .hero-pathway-list-content-left {
        flex: initial !important;
    }

}



/*  SAB LANDING PAGE TILES 1  */
#sab-landing-1 {
    .sticky-list-back-button {
        color: $blue-primary;
        background: url("../assets/Icon-chevron-left-blue.svg") no-repeat;
        background-position: center left 1px;
        background-size: 10px 16px;
        padding: 0 0 0 15px;
        
    }
    
    .card-body {
        padding: 0;
    
        .card-header {
            background: $blue-primary-lightest;
            padding: 16px 32px;
            
            text-transform: uppercase;
            font-size: 0.75rem;
            letter-spacing: .05rem;
        }
        
        .card-title {
            margin-top: 32px;
            padding: 0 32px 16px 32px;
        } 
        .card-text {
            padding: 0 32px 16px 32px;
        }
        .legacy-topicCard-button-text {
            padding: 0 32px 32px 32px;
        }
    }
}


/*  SAB LANDING PAGE TILES 2  */
#sab-home-2 {
    .sticky-list-head {
        color: $teal-sab-darker;
    }
}

#sab-landing-2 {
    .sticky-list-back-button {
        color: $white;
        background: $teal-dark url("../assets/Icon-chevron-left-white.svg") no-repeat;
        background-position: center left 16px;
        background-size: 10px 16px; 
        padding: 16px 32px;
        top: 32px;
        left: -16px;
        width: 100%;
        span {
            font-size: 1.1rem ;
        }
        
    }
    .sticky-list-head {
        margin-top: 60px;
    }
    
    .card-container .card-item {
        border-top: 4px solid $teal-dark;
    }
    .card-body {
        padding: 0;
    
        .card-header {
            background: $teal-lightest;
            padding: 16px 32px;
            
            text-transform: uppercase;
            font-size: 0.75rem;
            letter-spacing: .05rem;
        }
        
        .card-title {
            margin-top: 32px;
            padding: 0 32px 16px 32px;
        } 
        .card-text {
            padding: 0 32px 16px 32px;
        }
        .legacy-topicCard-button-text {
            padding: 0 32px 32px 32px;
        }
    }
    
    @media only screen and (max-width:900px) {
        .sticky-list-back-button {
            left: -32px;
            padding: 16px 46px;
            background: $teal-dark url("../assets/Icon-chevron-left-white.svg") no-repeat;
            background-position: center left 32px;
            background-size: 10px 16px;
        }
    }
}


/*  SAB NAVIGATION 1 */

// Link to navigation
#guide_navlink_wrapper_1 {

    padding: 8px 0 10px 0;
    background: $blue-primary-lightest;
    
    a {
        background: url("../assets/Icon-chevron-right-blue.svg") no-repeat;
        background-position: center right;
        background-size: 10px 16px;
        padding-right: 20px;
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    p {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
}

// Navigation panel
.side_nav {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    background: $blue-primary-lightest;
    height: 100%;
    -webkit-box-shadow: -4px 0px 6px -5px rgba(0,0,0,0.61);
    -moz-box-shadow: -4px 0px 6px -5px rgba(0,0,0,0.61);
    box-shadow: -4px 0px 6px -5px rgba(0,0,0,0.61);
    width: 40%;
    
    &.side_nav_open {
        display: block;
    }
    
    .nav_close {
        position:absolute;
        top: 40px;
        right: 12%;
        padding: 5px 25px 5px 5px;
        z-index: 2000;
        cursor: pointer;
        background: url("../assets/Icon-cross-333333.svg") no-repeat;
        background-position: center right 2px;
        background-size: 14px 14px;
    }
   
    #guide_nav{
        padding: 200px 0px 0;
        
        h3 {
            margin-bottom: 16px;
            padding: 0 42% 0 12%;
            color: $blue-primary;
        }
    
        ul {
            padding: 0;
            
            li {
                font-weight: 400;
                list-style-type: none;
                font-size: 0.9rem;
                padding: 10px 42% 10px 12%;
                background: url("../assets/Icon-chevron-down-333333.svg") no-repeat;
                background-position: center right 42%;
                background-size: 14px 20px;
                cursor:pointer;
                
                &:hover {
                    background: #DEE5F1 url("../assets/Icon-chevron-down-333333.svg") no-repeat;
                    background-position: center right 42%;
                    background-size: 14px 20px;
                }
            }
            ul {
                
                li {
                    font-weight: 400;
                    padding: 10px 42% 10px 12%;
                    border-bottom: none;
                    font-size: 0.88rem;
                    background: none;
                    
                    &:hover {
                        background: none;
                        
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        
            a {
                text-decoration: none;
            }
        }
        
        .current_page {
            border-left: 4px solid $blue-primary-mid;
            font-weight: 700;
            padding-left: 16px;
        }
        
        .sub-menu-toggle {
            &.open,
            &.current {
                background: #DEE5F1 url("../assets/Icon-chevron-up-333333.svg") no-repeat;
                background-position: center right 42%;
                background-size: 14px 20px;
                font-weight: 600;
            }
        }
        
        .sub-menu {
            display: none;
            background: $white;
            padding-top: 5px;
            padding-bottom: 5px;
            
            &.current, 
            &.open {
                display: block;
            }
        }

    }
    
    
    @media only screen and (max-width: 1500px) {
        .nav-close {
            right: 12%;
        }
        #guide_nav {
            h3 {
                padding: 0 32% 0 12%;
            }
            
            ul li {
               padding: 10px 32% 10px 12%;
                background: url("../assets/Icon-chevron-down-333333.svg") no-repeat;
                background-position: center right 32%;
                background-size: 14px 20px;
                
                &:hover {
                    background: #DEE5F1 url("../assets/Icon-chevron-down-333333.svg") no-repeat;
                    background-position: center right 32%;
                    background-size: 14px 20px;
                }
                
                ul li {
                     padding: 10px 32%;
                }
            }
           .sub-menu-toggle {
            &.open,
            &.current {
                background: #DEE5F1 url("../assets/Icon-chevron-up-333333.svg") no-repeat;
                background-position: center right 32%;
                background-size: 14px 20px;
                font-weight: 600;
            }
        } 
        }
    }
    
    
    @media only screen and (max-width: 1100px) {
        width: 45%;  
        
        .nav-close {
            right: 12%;
        }
        #guide_nav {
            h3 {
                padding: 0 12%;
            }
            
            ul li {
                padding: 10px 12%;
                background: url("../assets/Icon-chevron-down-333333.svg") no-repeat;
                background-position: center right 12%;
                background-size: 14px 20px;
                
                &:hover {
                    background: #DEE5F1 url("../assets/Icon-chevron-down-333333.svg") no-repeat;
                    background-position: center right 12%;
                    background-size: 14px 20px;
                }
                
                ul li {
                     padding: 10px 12%;
                }
            }
           .sub-menu-toggle {
            &.open,
            &.current {
                background: #DEE5F1 url("../assets/Icon-chevron-up-333333.svg") no-repeat;
                background-position: center right 12%;
                background-size: 14px 20px;
                font-weight: 600;
            }
        } 
        }
    }
    
    @media only screen and (max-width: 900px) {
        width: 55%;   
    }
    
    @media only screen and (max-width: 618px) {
        width: 75%;   
    }
    
}

//



/*  SAB NAVIGATION 2 */

// Link to navigation
#guide_navlink_wrapper_2 {
    border-bottom: 2px solid $teal-dark;
    padding: 0;
    
    #guide_navlink {
        background: $teal-dark url("../assets/Icon-chevron-down.svg") no-repeat;
        background-position: center right 15px;
        padding: 8px 25px 8px 8px;
        margin-left: 16px;
        
        a {
            color: $white;
            font-size: .9rem;
            text-decoration: none;
            font-weight: 600;
        }
        &.open {
            background: $teal-dark url("../assets/Icon-chevron-up.svg") no-repeat;
            background-position: center right 15px;
            padding: 8px 25px 8px 8px;
        }
    }
   
    .dropdown-wrapper {
        position:relative;
        width: 210px;
        min-height: 25px;
        padding: 0 0 0 5px;
    }
    .dropdown {
        position:absolute;
        
        &:hover{
            height: 400px;
            
            > .dropdown-menu {
                display: block;
            } 
        }
    }
    
    .dropdown-submenu {
        &:hover > .dropdown-menu {
            display: block;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    
    .dropdown-toggle {
        padding: 0 20px 0 5px;
        font-size: .9rem;
        color: $white;
        opacity: 1.0;
        width: 210px;
        text-align: left;
        padding: 0 0 0 5px;
        cursor: default;
        
        &:after {
            display: none;
        }
    }
    
    .dropdown-menu {
        background: $teal-sab-darker;
        padding: 0;
        top: 32px !important;
        left: -13px !important;
        border: none !important;
        border-radius: 0px !important;
        width: 243px;
        cursor: pointer !important;
        
        a {
            text-decoration: none;
            padding: 0 0 0 5px;
            
            &.dropdown-item:focus, &.dropdown-item:hover {
                background: none;
                text-decoration: underline !important;
            }
        }
        
        li {
            font-weight: 400;
            list-style-type: none;
            border-bottom: 1px solid $teal-mid;
            font-size: 1.1rem;
            padding: 10px;
            background: url("../assets/Icon-chevron-right-white.svg") no-repeat;
            background-position: center right 15px;
            background-size: 10px 16px;
            position: relative;
            
            &:hover {
                background: $teal-sab-darkest url("../assets/Icon-chevron-right-white.svg") no-repeat;
                background-position: center right 15px;
                background-size: 10px 16px;    
            }
                
            .dropdown-menu { 
                width: 300px;
                position: absolute;
                top: -2px !important;
                left: 243px !important;
                background: $teal-sab-darkest;
                padding:0;
                
                li {
                    font-weight: 400;
                    border-bottom: 1px solid $teal-mid;
                    border-left: 1px solid $teal-mid;
                    font-size: 0.88rem;
                    background: $teal-sab-darkest;
                }
            }
        }
            
    }
}




/*  SAB READ MORE TILE . */
#sab-read-more {
    .action-card-button {
        background-color: $teal-light;
    }
}