<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body class="au-grid">

    <!-- HEADER -->
    <div class="header-wrapper">
        <div class="header">
            {% include header.html %}
        </div>
    </div>
    
    
    <!-- CONTENT -->
    
     <!-- SAB NAVIGATION 
    CHANGE THE SUFFIX NUMBER OF THE ID FOR DIFFERENT VERSIONS OF SAB NAVIGATION 
    -->
    <div id="sab-landing-1">
        {{ content }}
    </div>
    
    

    <!-- FOOTER -->
    <div class="footer-wrapper">
        <div class="footer">
            {% include footer.html %}
        </div>
    </div>

</body>

</html>
