<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body class="au-grid">

    <!-- HEADER -->
    <div class="header-wrapper">
        <div class="header">
            {% include header.html %}
        </div>
    </div>
    
    
    <!-- CONTENT -->
    <div class="c-wrapper container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8">
                <div class="guide-banner-wrapper">
                    <div class="guide-banner">
                        <a class="back-arrow" href={{"pages-landing/sab.html" | relative_url }}>Starting a business guide</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="sab-landing-1">
        {{ content }}
    </div>
    
    

    <!-- FOOTER -->
    <div class="footer-wrapper">
        <div class="footer">
            {% include footer.html %}
        </div>
    </div>

</body>

</html>
